modules = ["nodejs-24", "javascript", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["k6"]

[userenv]

[userenv.shared]
ADMIN_EMAIL = "alexcalvin.ac@gmail.com"
VITE_SPOTIFY_CLIENT_ID = "6362870de2654f558164cbca10bcddc4"
VITE_SPOTIFY_REDIRECT_URI = "https://57159b01-6c34-4dca-986c-3dfeaa612020-00-uavz37wegg9o.picard.replit.dev/web/spotify-callback"
